.cover {
  width: 100vw;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 10;
  background-color: #908d8d;
  opacity: 0.7;
}

.header__logo {
  height: 35px;
  width: 220px;
  background-image: url(../../img/logo__black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__wrapper {
  width: 1160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.name__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.name__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.1000000015px;
  text-align: right;
}

.workout__auth {
  width: 1160px;
  margin: auto;
  margin-bottom: 40px;
}

.workout-authorized__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 66px;
}

.workout-authorized__path {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
}

.workout-authorized__video {
  width: 1160px;
  background-color: gray;
  height: 639px;
  margin-top: 40px;
}

.workout-authorized__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 75px;
}

.workout-authorized__exercises-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.workout-authorized__list {
  margin-top: 30px;
  list-style: disc inside;
}

.workout-authorized__check {
  margin-top: 40px;
  width: 275px;
  height: 52px;
  background-color: #580ea2;
  border-radius: 46px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.0500000007px;
  text-align: center;
}

.exercises__item {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
}

.workout-authorized__progress {
  width: 638px;
  height: 336px;
  background: #f2f2f2;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress__wrapper {
  width: 539px;
}

.progress__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.progress__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.progress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}

.progress__scale {
  width: 278px;
  height: 36px;
  border-radius: 22px;
  border: 2px solid #565eef;
}
.cover {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #908d8d;
  opacity: 0.7;
}

.header__wrapper {
  width: 1160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 24px;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.name__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.name__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.1000000015px;
  text-align: right;
}

.workout__auth {
  width: 1160px;
  margin: auto;
  margin-bottom: 40px;
}

.workout-authorized__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 66px;
}

.workout-authorized__path {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
}

.workout-authorized__video {
  width: 1160px;
  background-color: gray;
  height: 639px;
  margin-top: 40px;
}

.workout-authorized__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 75px;
}

.workout-authorized__exercises-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.workout-authorized__list {
  margin-top: 30px;
  list-style: disc inside;
}

.workout-authorized__check {
  margin-top: 40px;
  width: 275px;
  height: 52px;
  background-color: #580ea2;
  border-radius: 46px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.0500000007px;
  text-align: center;
}

.exercises__item {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
}

.workout-authorized__progress {
  width: 638px;
  height: 336px;
  background: #f2f2f2;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress__wrapper {
  width: 539px;
}

.progress__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.progress__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.progress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}

.progress__scale {
  width: 278px;
  height: 36px;
  border-radius: 22px;
  border: 2px solid #565eef;
}
